@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    /* font-family: "Montserrat", serif; */
    font-family: "Zen Dots", serif;

}

.time{
    font-family: "Zen Dots", serif;
}





*::-webkit-scrollbar {
    display: none;
  }
